@using TestAfLogin.Models
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <center>
                <img class="circular--square" src="@("~/image/" + Model.AppUser.imageName)" asp-append-version="true"/>
            </center>
        </div>
    </div>
    <div class="col-md-8">  
        <div class="form-group">
            <h1>Min profil</h1>
            <h4>@Html.ViewData.Model.AppUser.Name</h4>
            <p>@Html.ViewData.Model.AppUser.FieldOfStudy / @Html.ViewData.Model.AppUser.Term. semester</p>
            <p>@Html.ViewData.Model.AppUser.Description</p>
        </div>
    </div>
</div>
<hr/>

<div>
    <div class="row">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
